body {
  min-height: 100vh;
}

.card {
  border-radius: 0.75rem;
}
.role-cliente main {
  min-height: calc(100vh - 56px);
}
.app-sidebar {
  min-height: 100%;
  border-radius: 0.6rem;
}

.sidebar-item:hover {
  background-color: #f1f5ff !important;
}

.sidebar-item.active {
  background-color: #0d6efd !important;
  color: white !important;
}

.sidebar-item.active i {
  color: white !important;
}



