<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm mt-4">
      <div class="card-body">
        <h1 class="h4 mb-3 text-center">Nueva contraseña</h1>

        {{#if errors}}
          <div class="alert alert-danger">
            <ul class="mb-0">
              {{#if errors.password}}
                <li>{{errors.password.msg}}</li>
              {{/if}}
              {{#if errors.passwordConfirmation}}
                <li>{{errors.passwordConfirmation.msg}}</li>
              {{/if}}
            </ul>
          </div>
        {{/if}}

        <form action="/password/reset/{{token}}" method="post" novalidate>
          <div class="mb-3">
            <label for="password" class="form-label">Nueva contraseña</label>
            <input
              type="password"
              class="form-control {{#if errors.password}}is-invalid{{/if}}"
              id="password"
              name="password"
            />
          </div>

          <div class="mb-3">
            <label for="passwordConfirmation" class="form-label">
              Confirmar nueva contraseña
            </label>
            <input
              type="password"
              class="form-control {{#if errors.passwordConfirmation}}is-invalid{{/if}}"
              id="passwordConfirmation"
              name="passwordConfirmation"
            />
          </div>

          <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-success">
              Guardar nueva contraseña
            </button>
          </div>

          <div class="text-center">
            <a href="/login">Volver al inicio de sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
